    <nav id="main">
      <div class="header">
        <strong>My library</strong>
        <a href="/signout">Logout</a>
      </div>

      <div class="categories">
        <strong>Categories</strong>
        <ul>
        {% for category in categories %}
        <li class="{% if category.id == activeCategory %}active{% endif %}">
          <a href="/app/categories/{{ category.id }}">{{ category.title }}
          <span>{{ category.Snippets.length }}</span>
          </a>
        </li>
        {% endfor %}
        </ul>
        <a href="#" data-modal-open="#new-category">NEW CATEGORY</a>
      </div>
    </nav>

    <div class="modal" id="new-category">
      <form class="modal-content" method="post" action="/app/categories/create">
        <input type="text" name="title" placeholder="Category title...">
        <button type="submit">SAVE CATEGORY</button>
        <a href="#" data-modal-close="#new-category">CANCEL</a>
      </form>
    </div>
