    <section class="snippets-list">
      <div class="list-header">
        <a href="#" data-modal-open="#new-snippet">NEW SNIPPET</a>
      </div>
      {% for snippet in snippets %}
        <a href="/app/categories/{{ activeCategory }}/snippets/{{ snippet.id }}">
          <strong>{{ snippet.title }} </strong>
          <p> {{ snippet.excerpt }} </p>
        </a>
      {% endfor %}
    </section>

    <div class="modal" id="new-snippet">
      <form class="modal-content" method="post"
            action="/app/categories/{{ activeCategory }}/snippets/create">
        <input type="text" name="title" placeholder="Snippet title...">

        <div class="content-container">
          <textarea name="content" class="mde" placeholder="Snippet content..."></textarea>
        </div>

        <button type="submit">SAVE SNIPPET</button>
        <a href="#" data-modal-close="#new-snippet">CANCEL</a>
      </form>
    </div>
