<html>
  <head>
  <meta charset="UTF-8">
  <title>Snippetfy - Save your code snippets! </title>
  <link rel="shortcut icon" href="https://thegabriel.dev/apps/snippetfy/favicon.png" type="image/x-icon" />
  <script src="https://thegabriel.dev/apps/snippetfy/main.js"></script>
  <link rel="stylesheet" href="https://thegabriel.dev/apps/snippetfy/styles.css">
  <link rel="stylesheet" href="https://thegabriel.dev/apps/snippetfy/dracula.css">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  </head>

  <body>
  {% include 'partials/flash.njk' %}
   {% block body %} {% endblock %}
  </body>
</html>
